/*::-webkit-scrollbar {
    display: none;
}

select {
   overflow-y: scroll !important;
}*/


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}

input:focus {
	border-color: #ffdf6b;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input[type=button]{
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    /*width: 80px;*/ /* changed by neha on 28 feb 18*/
}

input[type=submit]{
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 80px;
}

.remove_padding{
	padding : 0px;
}

.floatLeft{
	float: left;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.sectionHeight{
	/*height: 50px;*/
	margin-bottom: 25px;
}

.custom_form-control {
    height: 35px;
    /* border-radius: 10px; */
    /* padding: 5px; */
    border: 0;
    border-bottom: 1px solid;
    background: transparent;
    border-color: #fff;
    color: #fff;
    border-radius: 0px;
}

.class_select{
    background: transparent;
    color: white;
    border-bottom: 1px solid;
    border-radius: 0px;
    /*background-color: #151515;*/
    border: 0px;
    border-bottom: 1px solid !important;
}

.colorRed { color:red; }

#pageNo{
	list-style: none;
	float: right;
	overflow: hidden;
	list-style-type: none;
}

.floatLeft{
	float: left;
}

label {
	color: white;
}

.background {
    background-color: #2d3035;
}

.displayNone{
    display: none;
}

input[type=button]{
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    /*width: 80px;*/ /* changed by neha on 28 feb 18*/
}

.chartBorder
{   float: left;
    border: 1px solid #979797;
    box-shadow: 2px 2px 7px 0px; 
    margin-top: 50px;
}

.activePageNum
{
    display: block;
}

.inactivePageNum
{
    display: none;
}

select option
{
    background-color: #2d3035 !important;
    /*background-color: #151515 !important;*/
} 

.mapStyle
{
    width: 99% !important; 
    height: 450px !important; 
    /*height: 1000px !important;*/
    background: yellow;
}