#div_dtcwise{
	float: left;
	/*margin-top: 35px;*/
}

#chartArea
{
	margin-top: 10px;
}

.chartBorder
{	float: left;
	border: 1px solid #979797;
	box-shadow: 2px 2px 7px 0px; 
	margin-top: 50px;
}

#faultDescription{
	float: left;
	width:  100%;
	color:  white;
	margin-top: 10px;
}

#set{
	margin-top: 10px;
	margin-left: 0px;
	float: left;
	/*width: 15%;*/
	/*margin: 0.5%;*/
}

#export_excel{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	/*margin: 0.5%;*/
	float: left;
}

#print{
	/*margin-left: 15px;*/
	float: left;
	margin-top: 10px;
	/*margin: 0.5%;*/
	display: block;
}

#uCode{
	padding: 0px;
	z-index: 999;
}

#unitcodeLabel{
	vertical-align: top;
	float: left;
}

#tType{
	padding: 0px;
	float: left;
	z-index: 999;
}

.checkboxAlign{
	vertical-align: middle;
}

.activePageNum
{
	display: block;
}

.inactivePageNum
{
	display: none;
}